In [1]:
#Importing libraries
import pandas as pd
import numpy as np
import  matplotlib.pyplot as plt

In [2]:
#Loading the dataset
data = pd.read_csv("pokemon_data.csv")

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 800 entries, 0 to 799
Data columns (total 12 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   #           800 non-null    int64
 1   Name        800 non-null    object
 2   Type 1      800 non-null    object
 3   Type 2      414 non-null    object
 4   HP          800 non-null    int64
 5   Attack      800 non-null    int64
 6   Defense     800 non-null    int64
 7   Sp. Atk     800 non-null    int64
 8   Sp. Def     800 non-null    int64
 9   Speed       800 non-null    int64
 10  Generation  800 non-null    int64
 11  Legendary   800 non-null    bool
dtypes: bool(1), int64(8), object(3)
memory usage: 69.7+ KB

In [15]:
data.head()

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,type2_notnull
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False,True

In [25]:
data.loc[data["Type 1"] == "Fire"].count()

#                52
Name             52
Type 1           52
Type 2           24
HP               52
Attack           52
Defense          52
Sp. Atk          52
Sp. Def          52
Speed            52
Generation       52
Legendary        52
type2_notnull    52
dtype: int64