In [ ]:
##Analysis Questions to answer in this dataset
# General Analysis Questions
# How do the average stats (HP, Attack, Defense, Sp. Atk, Sp. Def, and Speed) compare across different generations of Pokémon?
# Which Pokémon type (Type 1) has the highest average Attack stat? What about the lowest?
# Is there a significant difference in the average total stats between Legendary and non-Legendary Pokémon?
# What is the distribution of Pokémon types (Type 1 and Type 2) in the dataset? Which types are the most and least common?

# Comparative and Relationship Questions
# Is there a correlation between a Pokémon's Speed and its Attack stat?
# How do the stats of Pokémon with a dual type (e.g., Fire/Flying) compare to those with a single type?
# Which Pokémon has the highest individual stat for each category (HP, Attack, Defense, etc.)?

# Specific Analysis Questions
# How many Pokémon are present in each generation?
# What is the most common Pokémon type combination?
# Are there any Pokémon with a specific combination of high HP and low Defense?
# How do the average stats of each Pokémon type (Type 1) compare to each other? For instance, do Water-type Pokémon generally have higher HP than Fire-type Pokémon?

In [2]:
#Importing libraries
import pandas as pd
import numpy as np
import  matplotlib.pyplot as plt

In [3]:
#Loading the dataset
data = pd.read_csv("pokemon_data.csv")

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 800 entries, 0 to 799
Data columns (total 12 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   #           800 non-null    int64
 1   Name        800 non-null    object
 2   Type 1      800 non-null    object
 3   Type 2      414 non-null    object
 4   HP          800 non-null    int64
 5   Attack      800 non-null    int64
 6   Defense     800 non-null    int64
 7   Sp. Atk     800 non-null    int64
 8   Sp. Def     800 non-null    int64
 9   Speed       800 non-null    int64
 10  Generation  800 non-null    int64
 11  Legendary   800 non-null    bool
dtypes: bool(1), int64(8), object(3)
memory usage: 69.7+ KB

In [5]:
data.head()

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False

In [7]:
data_fire = data.loc[data["Type 1"] == "Fire"]

In [15]:
data_fire["Total_Stats"] = data_fire["HP"] + data_fire["Attack"] + data_fire["Defense"] + data_fire["Sp. Atk"] + data_fire["Sp. Def"] + data_fire["Speed"]

C:\Users\abhes\AppData\Local\Temp\ipykernel_9800\3375849232.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_fire["Total_Stats"] = data_fire["HP"] + data_fire["Attack"] + data_fire["Defense"] + data_fire["Sp. Atk"] + data_fire["Sp. Def"] + data_fire["Speed"]

In [17]:
data_fire.head()

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total_Stats
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False,309
5,5,Charmeleon,Fire,NaN,58,64,58,80,65,80,1,False,405
6,6,Charizard,Fire,Flying,78,84,78,109,85,100,1,False,534
7,6,CharizardMega Charizard X,Fire,Dragon,78,130,111,130,85,100,1,False,634
8,6,CharizardMega Charizard Y,Fire,Flying,78,104,78,159,115,100,1,False,634